body {
    background-color: #88c4ff;
}

p {
    font-family: papyrus;
}

#special {
    color: #ff80c0;;
}

h1, h3, h5 {
    color: #ff80c0;
    font-family:papyrus;
}

.myClass {
    font-style: italic;
}

p.myClass {
    color: blue;
}

#paragraphId {
    color: red;
}

#blockId {
    border: 3px solid #0080ff; /* da 0 a 255, la gamma di colori: ff sta per 16x15 in base 16 */
    background-color: #73e9fd;
}

.boldCls {
    font-weight: bold;
}

.itaCls {
    font-style: italic;
}

.upperCls {
    text-transform: uppercase;
}


